<div class="header pb-6">
    <div class=" container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Profil</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-id-badge text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="m-0">Informasi Profil</h4>
                        </div>
                        <div class="col-auto">
                            <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                                Tetapan
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <h6 class=" heading-small text-muted mb-4">Informasi Pengguna</h6>

                        <div class=" pl-lg-4">
                            <div class=" row">
                                <div class=" col-lg-6">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-username">
                                            Username
                                        </label>

                                        <input class="form-control form-control-sm" id="input-username"
                                            placeholder="Masukkan username" type="text" />
                                    </div>
                                </div>

                                <div class=" col-lg-6">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-email">
                                            Emel
                                        </label>

                                        <input class="form-control form-control-sm" id="input-email"
                                            placeholder="Masukkan emel" type="email" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class=" form-control-label" for="input-first-name">
                                            Nama Pertama
                                        </label>

                                        <input class="form-control form-control-sm" id="input-first-name"
                                            placeholder="Nama pertama" type="text" />
                                    </div>
                                </div>

                                <div class=" col-lg-6">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-last-name">
                                            Nama Terakhir
                                        </label>

                                        <input class="form-control form-control-sm" id="input-last-name"
                                            placeholder="Nama terakhir" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class=" my-4" />

                        <h6 class=" heading-small text-muted mb-4">Informasi Hubungan</h6>

                        <div class=" pl-lg-4">
                            <div class=" row">
                                <div class=" col-md-12">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-address">
                                            Alamat
                                        </label>

                                        <input class="form-control form-control-sm" id="input-address"
                                            placeholder="Alamat rumah" type="text" />
                                    </div>
                                </div>
                            </div>

                            <div class=" row">
                                <div class=" col-lg-4">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-city">
                                            Bandar
                                        </label>

                                        <input class="form-control form-control-sm" id="input-city" placeholder="Bandar"
                                            type="text" />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class=" form-control-label" for="input-country">
                                            Negara
                                        </label>

                                        <input class="form-control form-control-sm" id="input-country"
                                            placeholder="Negara" type="text" />
                                    </div>
                                </div>

                                <div class=" col-lg-4">
                                    <div class=" form-group">
                                        <label class=" form-control-label" for="input-country">
                                            Poskod
                                        </label>

                                        <input class="form-control form-control-sm" id="input-postal-code"
                                            placeholder="Poskod" type="number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class=" card card-profile">
                <img alt="Image placeholder" class=" card-img-top" src="assets/img/theme/img-1-1000x600.jpg" />

                <div class=" row justify-content-center">
                    <div class=" col-lg-3 order-lg-2">
                        <div class=" card-profile-image">
                            <a href="javascript:void(0)">
                                <img class=" rounded-circle" src="assets/img/avatar/default.png" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class=" card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class=" d-flex justify-content-between">
                        <a class=" btn btn-sm btn-info mr-4" href="javascript:void(0)">
                            Connect
                        </a>

                        <a class=" btn btn-sm btn-default float-right" href="javascript:void(0)">
                            Message
                        </a>
                    </div>
                </div>

                <div class=" card-body pt-0">
                    <div class=" row">
                        <div class=" col">
                            <div class=" card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class=" heading"> 22 </span>
                                    <span class=" description"> Umur </span>
                                </div>
                                <div>
                                    <span class=" heading"> 10 </span>
                                    <span class=" description"> Fail </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" text-center">
                        <h5 class=" h3">
                            Amirul Hazama<span class=" font-weight-light"> </span>
                        </h5>

                        <div class=" h5 font-weight-300">
                            <i class=" ni location_pin mr-2"> </i> Ampang, Kuala Lumpur
                        </div>

                        <div class=" h5 mt-4">
                            <i class=" ni business_briefcase-24 mr-2"> </i> Pengurus Solusi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>